#icono{
    width: 80px;
    height: 80px;
    margin-top: 50px;
    margin-left: 70px;
    display: block;
    box-shadow: 10px 10px 30px black;
}
#icono2{
    width: 80px;
    height: 80px;
    background-color: rgb(5, 5, 95);
    margin-top: 50px;
    margin-left: 70px;
    display: block;
    box-shadow: 10px 10px 30px black;
}
.row{
    padding: 20px;
    border-style: outset;
    border-radius: 1%;
    width: 98%;
    margin-left: 10px;
    text-align: center;
}