<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="row">
        <div class="col-sm-12 col-mg-2 col-lg-2">
            <img src="../../../assets/logoVB.png" id="icono">
        </div>
        <div class="col-sm-12 col-mg-6 col-lg-6 offset-md-2 offset-lg-2">
            <h1>Formulario con VBA</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eligendi, labore dolorem fugiat distinctio placeat hic nesciunt dolore aperiam sit consequatur illum beatae dignissimos praesentium illo, nisi quos! Id, officiis vero.</p>
        </div>
    </div>
    <div class="row">    
        <div class="col-sm-12 col-mg-2 col-lg-2">
            <img src="../../../assets/python.jpg" id="icono">
        </div>
        <div class="col-sm-12 col-mg-6 col-lg-6 offset-md-2 offset-lg-2">
            <h1>Proyectos de aprendizaje pedagógico</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eligendi, labore dolorem fugiat distinctio placeat hic nesciunt dolore aperiam sit consequatur illum beatae dignissimos praesentium illo, nisi quos! Id, officiis vero.</p>
        </div>
    </div>
    <div class="row">    
        <div class="col-sm-12 col-mg-2 col-lg-2">
            <img src="../../../assets/APLogo.png" id="icono2">
        </div>
        <div class="col-sm-12 col-mg-6 col-lg-6 offset-md-2 offset-lg-2">
            <h1>Portfolio Argentina Programa</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eligendi, labore dolorem fugiat distinctio placeat hic nesciunt dolore aperiam sit consequatur illum beatae dignissimos praesentium illo, nisi quos! Id, officiis vero.</p>
        </div>
    </div>        
</div>