<div class="row">
    <h1 class="centro">Educación..</h1>
    <div class="col-lg-1">
        
    </div>
    <div class="col-lg-10">
        <ul>
            <li>
                <h1>Educación 1</h1> - <h3>(Año)</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odio obcaecati quibusdam quos laudantium quas numquam atque earum esse? Provident impedit, magni fugit quis nemo dolorem dicta praesentium sequi? Dolor, animi!</p>
            </li>
        </ul>
        <ul>
            <li>
                <h1>Educación 2</h1> - <h3>(Año)</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odio obcaecati quibusdam quos laudantium quas numquam atque earum esse? Provident impedit, magni fugit quis nemo dolorem dicta praesentium sequi? Dolor, animi!</p>
            </li>
        </ul>
        <ul>
            <li>
                <h1>Educación 3</h1> - <h3>(Año)</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odio obcaecati quibusdam quos laudantium quas numquam atque earum esse? Provident impedit, magni fugit quis nemo dolorem dicta praesentium sequi? Dolor, animi!</p>
            </li>
        </ul>
    </div>
</div>